<div class="col-md-12">
    <div class="card card-container">
   
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">User Name is required</div>
          <div *ngIf="username.errors.minlength">
            User Name must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            User Name must be at most 20 characters
          </div>
        </div>
      </div>
   
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="form.firstname"
            required
            minlength="3"
            maxlength="20"
            #firstname="ngModel"
          />
          <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
            <div *ngIf="firstname.errors.required">First Name is required</div>
            <div *ngIf="firstname.errors.minlength">
              First Name must be at least 3 characters
            </div>
            <div *ngIf="firstname.errors.maxlength">
              First Name must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastname"
            [(ngModel)]="form.lastname"
            required
            minlength="3"
            maxlength="20"
            #lastname="ngModel"
          />
          <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
            <div *ngIf="lastname.errors.required">Last Name is required</div>
            <div *ngIf="lastname.errors.minlength">
              Last Name must be at least 3 characters
            </div>
            <div *ngIf="lastname.errors.maxlength">
              Last Name must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dob">DOB</label>
          <input
            type="dob"
            class="form-control"
            name="dob"
            [(ngModel)]="form.dob"
            required
            minlength="6"
            #dob="ngModel"
          />
          <div class="alert-danger" *ngIf="dob.errors && f.submitted">
            <div *ngIf="dob.errors.required">DOB is required</div>
            <div *ngIf="dob.errors.minlength">
              DOB must be at least 6 characters
            </div>
          </div>
        </div>
   
        <div class="form-group">
          <label for="addressline1">Address 1</label>
          <input
            type="text"
            class="form-control"
            name="addressline1"
            [(ngModel)]="form.addressline1"
            required
            minlength="20"
            maxlength="100"
            #addressline1="ngModel"
          />
          <div class="alert-danger" *ngIf="addressline1.errors && f.submitted">
            <div *ngIf="addressline1.errors.required">Address 1 is required</div>
            <div *ngIf="addressline1.errors.minlength">
              Address 1 must be at least 20 characters
            </div>
            <div *ngIf="addressline1.errors.maxlength">
              Address 1 must be at most 100 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="addressline2">Address 2</label>
          <input
            type="text"
            class="form-control"
            name="addressline2"
            [(ngModel)]="form.addressline2"
            required
            minlength="10"
            maxlength="100"
            #addressline2="ngModel"
          />
          <div class="alert-danger" *ngIf="addressline2.errors && f.submitted">
            <div *ngIf="addressline2.errors.required">Address 2 is required</div>
            <div *ngIf="addressline2.errors.minlength">
              Address 2 must be at least 10 characters
            </div>
            <div *ngIf="addressline2.errors.maxlength">
              Address 2 must be at most 20 characters
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            name="city"
            [(ngModel)]="form.city"
            required
            minlength="3"
            maxlength="20"
            #city="ngModel"
          />
          <div class="alert-danger" *ngIf="city.errors && f.submitted">
            <div *ngIf="city.errors.required">City is required</div>
            <div *ngIf="city.errors.minlength">
              City must be at least 3 characters
            </div>
            <div *ngIf="city.errors.maxlength">
              City must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input
            type="text"
            class="form-control"
            name="state"
            [(ngModel)]="form.state"
            required
            minlength="3"
            maxlength="20"
            #state="ngModel"
          />
          <div class="alert-danger" *ngIf="state.errors && f.submitted">
            <div *ngIf="state.errors.required">State is required</div>
            <div *ngIf="state.errors.minlength">
              State must be at least 3 characters
            </div>
            <div *ngIf="state.errors.maxlength">
              State must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            class="form-control"
            name="country"
            [(ngModel)]="form.country"
            required
            minlength="3"
            maxlength="20"
            #country="ngModel"
          />
          <div class="alert-danger" *ngIf="country.errors && f.submitted">
            <div *ngIf="country.errors.required">Country is required</div>
            <div *ngIf="country.errors.minlength">
              Country must be at least 3 characters
            </div>
            <div *ngIf="country.errors.maxlength">
              Country must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="zipcode">Zipcode</label>
          <input
            type="text"
            class="form-control"
            name="zipcode"
            [(ngModel)]="form.zipcode"
            required
            minlength="6"
            maxlength="6"
            #zipcode="ngModel"
          />
          <div class="alert-danger" *ngIf="zipcode.errors && f.submitted">
            <div *ngIf="zipcode.errors.required">Zipcode is required</div>
            <div *ngIf="zipcode.errors.minlength">
              Zipcode must be 6 characters
            </div>
            <div *ngIf="zipcode.errors.maxlength">
              Zipcode must be 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>